*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.jar
gradle/wrapper/gradle-wrapper.properties
gradle.properties
.idea/dictionaries/Tim.xml
hs_err_pid11812.log
hs_err_pid3428.log
hs_err_pid7200.log
replay_pid11812.log
replay_pid3428.log
replay_pid7200.log
hs_err_pid17380.log
hs_err_pid17700.log
hs_err_pid19816.log
hs_err_pid6532.log
hs_err_pid7404.log
replay_pid17380.log
replay_pid17700.log
replay_pid19816.log
