<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aurimteam.justhobby">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:allowBackup="true"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/app_name"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity android:name=".Main.Home.UserCourses.UserCoursesFragment"></activity>
        <activity android:name=".CompanyInfo.CompanyCoursesInfoActivity.CompanyCoursesFragment"/>
        <activity android:name=".CompanyInfo.CompanyInfoMainActivity.CompanyInfoFragment"/>
        <activity android:name=".CoursesInfo.CourseGroupsActivity.CourseGroupsFragment"/>
        <activity android:name=".Main.Home.UserCourses.UserCoursesClearFragment"/>
        <activity android:name=".Main.Home.UserBookmarksMain.UserBookmarksClearFragment"/>
        <activity android:name=".Main.Home.HomeTimeLineClearFragment"/>
        <activity android:name=".Main.Home.UserWithoutTimetableFragment"/>
        <activity android:name=".CoursesInfo.CourseMainInfoActivity.CourseInfoFragment"/>
        <activity android:name=".Main.Notifications.NotificationsFragment"/>
        <activity android:name=".Main.Home.UserBookmarksMain.UserBookmarksFragment"/>
        <activity android:name=".Main.Settings.SettingsFragment"/>
        <activity android:name=".Main.RecommendationPageViewer.RecommendationFragment"/>
        <activity android:name=".Main.MainNav"
                  android:label="@string/title_activity_home_main"/>
        <activity android:name=".AuthActivity.AuthActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RegistryActivity.RegistryActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".RecoveryActivity.RecoveryActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".FeaturesActivities.FeaturesActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Main.Home.HomeTimeLineFragment"/>
    </application>
</manifest>